<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Create a EJS Template -->
    <!-- To intialize ejs function-->
    <!-- to use control flow in html we can <% %> Scriplet tags and it is line based all the js part will be covered -->
    <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
    <h1 style="color: blue;"><%= kindOfDay %> List</h1>
    <% } else{ %>
        <h1 style="color:red;"><%= kindOfDay %> List</h1>
    <% } %>
   
</body>
</html>